.brittany-aquino {
    display: inline-block;
    float: left;
    border: solid 7px #FFC300;
    margin: 20px;
    height: 250px;
    width:400px;

}
body {
    background: url(images/fancycrave.jpg);
    background-size: 100%;
    text-align: center;
    font-size: 80px;
    color: #f0f8ff;
    margin-bottom: 3px;
}
h1 {
    margin-block-end: 50px;
    background-image: url(images/mandala.jpg);
}
header {
    text-align: center;
    font-size: 50px;
    color: #f0f8ff;
    background-color: #d8ac3c;
}
hr {
    width: 720px;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #f0f8ff;
    text-align: start;
}
#vibrant-mandala {
    display: inline-block;
    float: right;
    height: 512px;
    width: 375px;
    text-align: right;
    border: solid 7px #FFC300;
    margin: 20px;
}
#caption {
    text-align: center
;
}
div.p. {
    background: #000000;
}
article {
    background:  #41698a;
    margin: auto 70px;
    padding: 30px;
}
.tagline {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #f0f8ff;
    margin-bottom: 50px;
    margin-top: 5px;
    text-align: center;
}
.author {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f0f8ff;
    text-align: center;
}
a {
    display: inline-block;
	padding: 10px;
	margin: 10px 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
    transition: ease .5s;
    font-size: 20px;
}
a.first-button {
	background: #070722;
	border: 2px solid #808080;
	color: #f0f8ff;
}
a.second-button {
    background: #070722;
    border: 2px solid #808080;
    color: #f0f8ff;
    float: right;
    size: 20px;
}

a:hover{
	background: #daa520;
	border: 2px solid #ffffff;
    color: #f0f8ff;